* {
    margin: 0;
    padding: 0;
  }
  header {
    height: 15vh;
    width: 100%;
    position: relative;
  }
  .topm {
    background-color: red;
    width: 100%;
    height: 5vh;
  }
  .topmc {
    text-align: center;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
    color: white;
  
    font-family: "Courier New", Courier, monospace;
    text-shadow: 1px 1px black;
    margin: 0%;
  }
  .nav {
    width: 100%;
    height: 10vh;
    background-color: red;
  }
  .logo {
    margin-left: 35px;
    width: 150px;
    height: 50px;
  }
  .navb {
    display: inline-block;
    position: absolute;
    top: 52%;
    right: 25%;
  }
  .navi {
    text-align: center;
    color: black;
    display: inline-block;
    padding: 4px 57px 4px 47px;
    font-size: 20px;
    background-color: white;
    margin: 0px 20px 0px 20px;
    font-family: sans-serif;
  }
  .navi:hover {
    background-color: red;
    border: 2px solid white;
    color: white;
  }
  .teaml{
    height: 13vh;
    text-align: center;
  }
  .teamlogo{
    height: 74px;
    width: 74px;
    padding-top: 10px;
  }
  .teaminfo{
    width: 100%;
    height: 60vh;
    background-image: url("../images/mii.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .teaminfom{
    padding: 50px;
    position: relative;
  }
  .tlogos{
    height: 175px;
    width: 175px;
  }
  .tslogos{
    display: inline-block;
    margin-left: 7px;
  }
  .tslogoimg{
  height: 17px;
  width: 18px;
  margin-left: 20px;
  }
  .history{
    width: 50%;
    position: absolute;
    right: 0;
    height: 50vh;
    top: 10%;
    font-size: 18px;
    line-height: 35px;
    
  }
  .squad{
    width: 100%;
    height: 8vh;
    background-color: red;
    margin-top: -1px;
    padding-top: 1px;
   
  }
  .phead{
    background-color: white;
    width: 130px;
    color: black;
    text-align: center;
    margin-top: 0.7vh;
    margin-left: 50%;
    padding: 10px;
    padding-bottom: 5px;
    transform: translateX(-50%);
  }
  .player {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 19%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    border:6px solid #becce2;
    color: white;
    display: inline-block;
    text-align: center;
  }
  .playimgs{
     height: 20%;
     background-color:rgb(0,94,166) ;
  }
  .players{
    margin-bottom: 40px;
  }
  
  .pimg {
    width: 200px;
    height: 200px;
  }
  .nbg{
    background-color: red;
    height: 7%;
  }
  .name{
    padding: 4px 0px;
    font-weight: 500;
    text-align: center;
  }
  
  .trophy{
  
    position: absolute;
    top: 25%;
    left: 20%;
    width: 50%;
  }
  .tdetails{
  background-color: rgb(0,63,127);
  height:23%;
  }
  .tdetail{
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #head2{
    font-size: 30px;
    font-weight: bold;
  }
  .ofbtn{
    background-color: orangered;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 6px;
    height: 36px;
    width: 176px;
  }
  table{
    border-collapse: collapse;
    color: white;
    font-weight: bold;
    margin-left: 2%;
  
  }
  td{
    width: 300px;
    height: 40px;
    font-size: 18px;
  }
  #of{
    background-color: white;
    display: block;
    margin-top: 15px;
    width: 300px;
    color: orange;
  }
  
  
  
  
  
  
  .social {
    position: absolute;
    right: 1px;
    top: 0%;
  
    color: white;
  }
  .sociali {
    width: 30px;
    height: 25px;
    margin: 0px;
    border: 2px solid white;
    border-radius: 6px;
  }
  #flow {
    margin: 0px;
  }
  
  .foot {
    width: 100%;
    height: 50vh;
    background-color: red;
    position: relative;
  }
  #flogo {
    height: 100px;
    width: 200px;
    position: absolute;
    bottom: 10px;
  }
  .fhead {
    color: white;
    text-align: center;
  }
  .sponsim {
    margin-top: 20px;
    margin-left: 450px;
  }
  .simgs {
    display: inline-block;
    height: 50px;
    width: 100px;
  }
  .fcon {
    color: white;
    display: inline-block;
    width: 70%;
    height: 60%;
    position: absolute;
    left: 450px;
    top: 130px;
  }
  #fsocial {
    left: 8px;
    bottom: 0%;
    margin: 0;
  }
  .map {
    position: absolute;
    top: 60px;
    left: 10px;
  }
  #fls {
    padding-left: 25px;
  }
  